*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.project
.scala_dependencies
.settings
.cache-*
/lib/
build/*.jar
build/apache-maven*
build/scala*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dist/
docs/_site
docs/api
lib_managed/
log/
logs/
out/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
src_managed/
streaming-tests.log
target/
data/*.csv
!data/runwayFlights_*_01202017.csv
!data/exit_config_*.csv
output/*.txt
output/*.json
trained/
bin/
processedData
unit-tests.log
work/
